<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="userDAO" class="com.aleksandr0412.bookstore.dao.impl.UserDAOImpl">
    </bean>
    <bean name="bookDAO" class="com.aleksandr0412.bookstore.dao.impl.BookDAOImpl">
    </bean>
    <bean name="authorDAO" class="com.aleksandr0412.bookstore.dao.impl.AuthorDAOImpl">
    </bean>
    <bean name="orderDAO" class="com.aleksandr0412.bookstore.dao.impl.OrderDAOImpl">
    </bean>

    <bean id="authorService" class="com.aleksandr0412.bookstore.service.AuthorService" autowire="constructor">
        <constructor-arg index="0" ref="authorDAO"/>
    </bean>

    <bean id="bookService" class="com.aleksandr0412.bookstore.service.BookService" autowire="constructor">
        <constructor-arg index="0" ref="bookDAO"/>
    </bean>

    <bean id="orderService" class="com.aleksandr0412.bookstore.service.OrderService" autowire="constructor">
        <constructor-arg index="0" ref="orderDAO"/>
    </bean>

</beans>
